{% extends 'base.html' %}


{% block style %}
<link rel="stylesheet" href="/static/css/orderPlaced.css">
{% endblock style %}


{% block body %}
<div id="orderContainer">
    <div id="check"><i class="fas fa-check-circle"></i></div>

    <div id="aboutCheck">
        <h1> Order Placed Successfully! </h1>
        <div id="button"><button><a href="/orders/" style="color: white; text-decoration: none;">Check Order Details</a></button></div>
    </div>
</div>
{% endblock body %}



{% block script %}

{% endblock script %}